
*,
*::before,
*::after {
      box-sizing: border-box;
}

html {
      font-family: sans-serif;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-image: radial-gradient(circle, #1f3756, #1b2e4f, #182648, #161d41, #141539);;
  color: #fff;
}